
* {
    padding: 0px;
    margin: 0px;
}

.header{
    background-color:white;
    height:90px;
    width: 100%;
    border-bottom: 3px solid #cccccc;
}

.name{
    margin-left: 220px;
    margin-bottom: 0px;
    height: 90px;
    width: 250px;
    background-color: #4aaaa5;
    text-align: center;
    color: #fffefc;
    vertical-align: middle;
    line-height: 90px;
    float: left;
    padding:0px;
    position: relative;
    top: 0px
}

.tabs{
    text-align: right;
    margin-right: 220px;
    float: right;
    position: relative;
    right: 20px;
    top: 30px;
    color: #cccccc;
    font-size: 16px;

}
body {
    background-color: black
}

#full {
    background-image: url("assets/images/background.png");
    height: 650px;
    width: 100%;

}
#footer {
    color: #fff;
    background-color: #cccccc;
    position: relative;
    bottom: 0;
    width: 98.6%;
    padding: 40px 10px 10px 10px;
    height: 10px;
    border-top: 10px solid #4aaaa5;
    margin: 0px;
    text-align: center

}
.index {
    position: relative;
    top: 40px;
    width: 960px;
    height: 460px;
    padding: 20px;
    margin-left: 220px;
    color: grey;
    background: white;
    border: 1px solid #cccccc;

  }

  #about{
      border-bottom: 2px solid #cccccc;
      width: 900px;
      padding: 20px;
      margin: 10px;
    font-size: 30px;
    color: #4aaaa5
  }
  .dog {
      float: left;
      margin: 20px;
  }

    .contact {
        position: relative;
        top: 40px;
        width: 960px;
        height: 500px;
        padding: 20px;
        margin-left: 220px;
        color: #cccccc;
        background: white;
        border: 1px solid #cccccc;
    
      }
      .portfolio {
        position: relative;
        top: 40px;
        width: 960px;
        height: 520px;
        padding: 20px;
        margin-left: 220px;
        color: grey;
        background: white;
        border: 1px solid #cccccc;
    
      }

      textarea {
        width: 922px;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 1px solid #cccccc;
        background-color: #f8f8f8;
        font-size: 15px;
        margin-left:15px;
        background-color:white;
    }
    .submit{
        Background-color: #4aaaa5;
        color:white;
        width: 90px;
        Height: 10pxpx;
        Text-align: center;
        Padding: 10px;
        font-size: 25px;
        margin: 10px;

    
    }
    input[type=text] {
        width: 900px;
        padding: 10px;
        border: 1px solid #cccccc;
        margin-top: 10px;
        margin-bottom: 10px;
        resize: vertical;
        margin-left:15px;
        font-size:15px;

    }
    .box {
        position: absolute;
        width: 200px;
        height: 200px;
        border: 2px solid #cccccc;
      }
      
      .box-1 {
        top: 175px;
        left:100px;
        background-image: url("assets/images/hangman.jpg");
        float: left
      }
      
      .box-2 {
        right: 100px;
        float: left;
        top: 175px;
        background-image: url("assets/images/game.jpg")
      }
      
      .box-3 {
        left: 400px;
        top: 175px;
        float: left;
        background-image: url("assets/images/dice.jpg")
      }
      .box-4 {
        left: 100px;
        bottom: 75px;
        float: left;
        background-image: url("assets/images/watch.jpg")
      
      }
      .box-5 {
        right: 100px;
        bottom: 75px;
        float: left;
        background-image: url("assets/images/scissors.jpg")
      }
      #full-1 {
        background-image: url("assets/images/background.png");
        height: 1000px;
        width: 100%;
    
    }

    .portfolio-1 {
        position: relative;
        top: 40px;
        width: 960px;
        height: 700px;
        padding: 20px;
        margin-left: 220px;
        color: #cccccc;
        background: white;
        border: 1px solid #cccccc;
    
      }
      .min1{
          width: 180px;
          Height: 15x;
          background-color: #4aaaa5;
          text-align: center;
          color: white;
          position: relative;
          bottom: -148px;
          Padding:10px;
          Font-size: 20px;

      }
      .min2{
        width: 180px;
        Height: 15x;
        background-color: #4aaaa5;
        text-align: center;
        color: white;
        position: relative;
        bottom: -148px;
        Padding:10px;
        Font-size: 20px;

    }
    .min3{
        width: 180px;
        Height: 15x;
        background-color: #4aaaa5;
        text-align: center;
        color: white;
        position: relative;
        bottom: -148px;
        Padding:10px;
        Font-size: 20px;
    }
    .min4{
        width: 180px;
        Height: 15x;
        background-color: #4aaaa5;
        text-align: center;
        color: white;
        position: relative;
        bottom: -148px;
        Padding:10px;
        Font-size: 20px;

    }

    .min5{
        width: 180px;
        Height: 15x;
        background-color: #4aaaa5;
        text-align: center;
        color: white;
        position: relative;
        bottom: -148px;
        Padding:10px;
        Font-size: 20px;

    }

    